/*Make sure you concentrate on order*/

/*
Examples: rotating arrow, half width border:
  .item {
  position: relative;
}

.item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
  height: 1px;
  background-color: #bada55;
}

Examples are “a more accurate example of what I use before/after for 90% of the time is to create decoration that would otherwise be impossible without adding actual elements, e.g. a half width border to  a fluid element”

a[href$='.pdf']::after {
content: ' (PDF)'
}
First line is bold
*/

body {}

section {}

img {}