
body {
  font-family: sans-serif;
  font-size: 140%;
}

label {
  display: block;
  padding-bottom: 10px;
}

input {
  font-size: 140%;
  border:2px solid grey;
  display: block;
  padding:5px;
  margin-bottom: 20px;
}


section {}

img {}