.wrapper {
	width: 100%; max-width: 800px;
	margin: 0px auto;
}

.header-main, article, section, footer {
}

/* header */
.header-main, section {
	background-color: lightgreen;
}

.header-main {
	padding: 30px;
	overflow: auto;	
}

.header-main h1 {
	width: 50%;
	float: left;
}

.header-main nav {
	float: right;
}

.header-main ul {
}

.header-main li {
	border: 1px solid grey;
	display: inline-block;
	padding: 10px;
	margin: 5px;
}





/* article */
article p {
	width: 70%;
}

/* work */
section {position: relative;}
img {
	margin: 10px; padding: 0px;
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid white;
}
section .button {
	position: absolute;
	top:20px; right:20px;
}

/* footer */
footer {
	border-top: 2px solid grey;
}
footer p {
	text-align: center;
}

/* general classes */
.button {
	background-image: linear-gradient(0deg, pink, white);
	box-shadow: 1px 1px 1px 0px grey;
	border-radius: 5px;
}

