/*Make sure you concentrate on order*/

body {
  font-family: sans-serif;
  color: #666;
}

.container {
  max-width: 1100px;
  margin: 0px auto;
  box-shadow: 2px 0px 4px 0px grey;
}

/* main partials */
.header-main, section, footer {
  padding: 50px;
}

.header-main {
  overflow: auto;

  background-color: green;
  background-image: linear-gradient(0deg, green, lightgreen);
  padding: 60px 40px;
}

.header-main h1, .header-main nav {}

.header-main h1 {
  font-size: 2.6em; color:white;
  float: left;
}

.header-main nav {
  float: right;
}

.header-main nav a {
  padding: 20px 30px;
  display: inline-block;
}

.header-main nav a.selected,
.header-main nav a:hover {
  background-color: blue;
}

.header-main button {
  display: none;
}

/* generics */

h2 {
  font-size: 2em; color: white;
  margin-bottom: 30px;
}

p {
  font-size: 1.2em;
  line-height: 1.3;
  margin-bottom: 20px;
}

.button, .selected, nav a:hover {
  display: inline-block;
  padding: 20px 30px;
  background-color: green;
  background-image: linear-gradient(0deg, hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0.8));
  border-radius: 8px;
  }

a.button, nav a {
  text-decoration: none;
  color: white;
}

/* specifics */

.section-about {}
.section-about h2 {
  color: #666;
}
.section-about p {width: 62%;}
.section-about p.link-more {text-align: right;}

.section-gallery {
  background-color: grey;
  position: relative;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding: 0px;
}
.thumbnails img {
  width: 21%;
  height: 21%;
  margin-bottom: 3%;

}

.section-gallery .button {
  position: absolute; right:4%; top:4%;
}



/*===========================================*/

.section-contact {background-color: lightgreen;}
.section-contact p {color:white;}

.section-contact form {
  overflow: hidden;
}
.section-contact form div {
  float: left;
  width: 48%;
  margin-right: 2%;

}
.section-contact form div:nth-of-type(2) {
  margin-right: 0px;
  margin-left: 2%;
}

.section-contact form label,
.section-contact form input,
.section-contact form textarea {
  /*font-size: 100%;*/
  display: block;
}

.section-contact form label {
  color: white;
  margin-bottom: 10px;
}

.section-contact form input,
.section-contact form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 6px;
  box-sizing: border-box;
}

.section-contact form textarea {
  height: 14vh;
}

.section-contact form .button {
  float: right;
  width: 30%;
}

.footer-main {text-align: center;}
.footer-main p {}












@media only screen and (max-width:600px) {

  .header-main {
    padding-bottom: 0px;
  }

  .header-main nav {
    display: none;
    float:none; clear:both; width:100%;
    text-align: center;
    background-color: blue;
  }
  .header-main nav.shown {
    display: block;
  }

  .header-main button {
    display: block;
    float: right;
    width: 50px; height: 50px;
    border: 1px solid white;
  }

  .section-gallery img {
    width: 48%;
  }

  .section-gallery img:nth-of-type(1n+5) {
    display: none;
  }


}








