/*Make sure you concentrate on order*/

body {
  font-family: sans-serif;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: 0px auto;
  box-shadow: 0px 0px 10px 0px hsla(0,0%,0%, 0.5);
}

/* main partials */
.header-main, section, footer {
  padding: 40px;
}

.header-main {
  background-color: blue;
  background-image: linear-gradient(0deg, green, lightgreen);
  padding: 60px 40px;
  overflow: auto;
}

.header-main h1, .header-main nav {

}

.header-main h1 {
  color:white;
  font-size: 2.8em;
  float: left;
}
.header-main nav {
  float: right;
}

.header-main nav a {
  display: inline-block;
  padding:20px 30px;
}

.header-main nav a.selected,
.header-main nav a:hover {
  background-color: darkblue;
}

.header-main button {
  display: none;
}

/* generics */

h2 {
  font-size: 2em;
  color: white;
  margin-bottom: 30px;
}

p {
  line-height: 1.6;
  color: grey;
  margin-bottom: 20px;
}

.button, .selected {
  display: inline-block;
  padding:20px 30px;

  background-color: green;
  background-image: linear-gradient(0deg, hsla(0,0%,100%,0.3), hsla(0,0%,100%,0.8));
  border-radius: 8px;

  font-size: 1.4em;
}

a.button, nav a {
  text-decoration: none;
  color: white;
}

/* specifics */

.section-about {}
.section-about h2 { color: grey; }
.section-about p { width: 62%; }
.section-about p.link-more { text-align: right; }

.section-gallery {
  background-color: grey;
  position: relative;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding: 0px;
}
.thumbnails img {
  width: 21%;
  height: 21%;
  margin-bottom: 3%;

}

.section-gallery .button {
  position: absolute; right:3%; top:3%;
  }

.section-contact {background-color: lightgreen;}
.section-contact p {color:white;}

.section-contact form {
  overflow: auto;
}
.section-contact form div {
  width: 48%;
  float: left;
  margin-right: 2%;
}
.section-contact form div:nth-of-type(2) {
  margin-right:0px;
  margin-left:2%;
}

.section-contact form label,
.section-contact form input,
.section-contact form textarea {
  display: block;
  font-size: 100%;
}

.section-contact form label {
  color: white;
  margin-bottom: 10px;
}

.section-contact form input,
.section-contact form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border:none;
  margin-bottom: 10px;
}

.section-contact form textarea {
  height: 10vw;
}

.section-contact form .button {
  width: 48%;
  float: right;
}

.footer-main {text-align: center;}
.footer-main p {}

@media only screen and (max-width:600px) {

  .header-main {
    padding-bottom: 0px;
  }

  .header-main nav {
    display: none;
    float:none; clear:both; width:100%;
    text-align: center;
    background-color: blue;
  }
  .header-main nav.shown {
    display: block;
  }

  .header-main button {
    display: block;
    float: right;
    width: 50px; height: 50px;
    border: 1px solid white;
  }

  .section-gallery img {
    width: 48%;
  }

  .section-gallery img:nth-of-type(1n+5) {
    display: none;
  }


}








